html {
    background-color: aliceblue;
    padding: 20px;
}
.flex-column {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 20px;
    font-size: 12px;
}